<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" /> -->
    </packageSources>
    <packageSourceCredentials>
        <Telerik>
            <add key="Username" value="%TELERIK_USERNAME%" />
            <add key="ClearTextPassword" value="%TELERIK_PASSWORD%" />
            <add key="ValidAuthenticationTypes" value="basic" />
        </Telerik>
    </packageSourceCredentials>
</configuration>