@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This platform is developed by the Road Development Authority (RDA) of Sri Lanka, the Sri Lankan Police and Insurance Companies.</p>
    <hr>
    <p>You are required to sign in, in order to report an accident.</p>
</div>
