@page
@model PUSL2020.Web.Areas.BackOffice.Pages.Dashboard

@{
    ViewData["Title"] = "Staff Log in";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <h2>Now You see the dashboard</h2>
        </section>
    </div>
</div>